extends layout

block contents
  .row(style="padding-bottom: 25px;")
    button.btn.btn-xs.btn-success(style="margin-right: 5px;")
      i.glyphicon.glyphicon-plus
      | &nbsp;Create

  .row
    table.table.table-condensed.table-striped
      thead
        tr
          th: | Events (Inputs)
          th: | Group By
          th: | Aggregator Event (Output)
          th
      tbody
        each aggregator in aggregators
          tr
            td
              ul(style="list-style-type: none; padding-left: 0px;")
                each event in aggregator.events
                  li
                    - const name = event.split(':').pop()
                    | #{name}
                    | &nbsp;
                    a.event(data-topicArn=event, data-event=name, href="#")
                      i.glyphicon.glyphicon.glyphicon-bullhorn

            td: | #{aggregator.groupBy}
            td: | #{aggregator.topic.split(':').pop()}
            td(style="text-align: right;")
              button.btn.btn-xs.btn-info(style="margin-right: 5px;")
                i.glyphicon.glyphicon-pencil
                | &nbsp;Edit

              button.btn.btn-xs.btn-trash.btn-danger
                i.glyphicon.glyphicon-trash
                | &nbsp;Delete

  #publish-events.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true")
            |&times;
          h4(class="modal-title" id="myModalLabel")
            | Publish Event

        div(class="modal-body")
          .row
            .col-sm-12
              textarea.form-control#eventData(rows="10", placeholder="JSON formatted event data")

        div(class="modal-footer")
          button(type="button", class="btn btn-default" data-dismiss="modal")
            | Cancel
          button(type="button", class="btn btn-primary")
            | Publish

block scripts
  script(src="/js/publish-events.js")